.login-button{
    -fx-font-family: 'SansSerif';
    -fx-font-weight: 700;
    -fx-font-size: 10pt;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #012d5a;
}

.login-button:hover {
    -fx-font-family: 'SansSerif';
    -fx-font-weight: 700;
    -fx-font-size: 10pt;
    -fx-text-fill: #012d5a;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #012d5a;
    -fx-border-width: 3pt;
}
