@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
.root {
    -fx-background-color: #D6D6D6;
}

.object-header {
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-font-size: 7.5pt;
    -fx-text-fill: #2e2e2e;
}

.object-body {
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 600;
    -fx-font-size: 7pt;
    -fx-text-fill: #7B7B7B;
}

.form-header {
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 600;
    -fx-font-size: 9pt;
    -fx-text-fill: #7B7B7B;
}

#confirmed .form-header {
    -fx-font-family: inherit;
    -fx-font-weight: inherit;
    -fx-font-size: inherit;
    -fx-text-fill: #43FF43;
}

#rejected .form-header {
    -fx-font-family: inherit;
    -fx-font-weight: inherit;
    -fx-font-size: inherit;
    -fx-text-fill: #FF4343;
}

.button {
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-font-size: 10pt;
    -fx-text-fill: #FFFFFF;
    
    -fx-background-radius: 2px;
    -fx-background-color: #0075FF;
}

.menu-button {
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-font-size: 10pt;

    -fx-background-color: transparent;
}

.region-icon {
    -fx-pref-width: 18;
    -fx-pref-height: 18;
    -fx-background-color: #000000;
}

.mfx-text-field {
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 600;
    -fx-font-size: 9pt;
    -fx-text-fill: #9D9D9D;



    -fx-border-width: 0px;

    -fx-background-radius: 5px;
    -fx-background-color: #FFFFFF;

    -fx-effect: dropshadow(three-pass-box, #0000003F, 4, 0, 0, 4);
}

.choice-box {
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 600;
    -fx-font-size: 9pt;
    -fx-text-fill: #9D9D9D;

    -fx-border-width: 0px;

    -fx-background-radius: 5px;
    -fx-background-color: #FFFFFF;

    -fx-effect: dropshadow(three-pass-box, #0000003F, 4, 0, 0, 4);
}